@import "tailwindcss";

/* Regular */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-primary);
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #231f20;
  --color-secondary: #f7b5cd;
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  --secondary-r: 247;
  --secondary-g: 181;
  --secondary-b: 205;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
  }
}
