<section id="about-me" class="flex bg-secondary">
  <div class="w-full">
    <img src="/public/images/waves.svg" />
    <div class="flex flex-col justify-center items-center gap-4 text-white">
      <span class="text-5xl font-extrabold">SOBRE MI</span>
      <div>
        <div></div>
        <div></div>
      </div>
      <span class="text-3xl font-extrabold max-w-3xl text-center">
        SOY UN DESARROLLADOR WEB APASIONADO POR CREAR EXPERIENCIAS DIGITALES QUE
        NO SOLO SE VEN INCREIBLES, SI NO QUE TAMBIEN GENERAL RESULTADOS REALES
        PARA TU NEGOCIO.
      </span>
    </div>
    <img src="/public/images/waves2.svg" />
  </div>
</section>
