---
import SocialMedia from "./SocialMedia.astro";
---

<section
  id="contact"
  class="flex-col flex justify-center items-center bg-secondary"
>
  <img src="/images/waves.svg" />
  <div class="w-full flex flex-col justify-center items-center gap-6">
    <h2
      data-aos="fade-down"
      class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-white"
    >
      CONTACTO
    </h2>

    <div class="flex flex-col lg:flex-row w-3/4 gap-8">
      <!-- FORM -->
      <div
        data-aos="fade-right"
        class="flex-1 text-white rounded-2xl flex items-center justify-center"
      >
        <form action="#" method="POST" class="flex flex-col gap-4 w-full">
          <input
            type="text"
            name="nombre"
            placeholder="Tu nombre"
            class="w-full px-4 py-3 rounded-xl focus:outline-none focus:ring-2 focus:ring-primary bg-primary"
            required
          />

          <input
            type="email"
            name="email"
            placeholder="Tu correo"
            class="w-full px-4 py-3 rounded-xl focus:outline-none focus:ring-2 focus:ring-primary bg-primary"
            required
          />

          <textarea
            name="mensaje"
            rows="5"
            placeholder="Escribe tu mensaje..."
            class="w-full px-4 py-3 rounded-xl focus:outline-none focus:ring-2 focus:ring-primary resize-none bg-primary"
            required></textarea>

          <button
            type="submit"
            class="bg-primary text-white font-semibold py-3 rounded-xl hover:bg-primary/90 transition"
          >
            Enviar mensaje
          </button>
        </form>
      </div>

      <!-- OTHERS -->
      <div
        data-aos="fade-left"
        class="flex-1 flex flex-col items-center justify-center gap-4"
      >
        <h2 class="text-xl text-white font-bold text-center">
          OTROS MEDIOS DE CONTACTO
        </h2>
        <SocialMedia />
      </div>
    </div>
  </div>
  <img src="/images/waves2.svg" />
</section>
