<section
  id="contact"
  class="w-full flex-col flex justify-center items-center bg-secondary"
>
  <img src="/images/waves.svg" />
  <div class="flex flex-col py-20">
    <span class="text-5xl font-extrabold text-white">CONTACTO</span>
    <div
      class="w-full max-w-lg bg-primary text-white shadow-xl rounded-2xl p-8"
    >
      <form action="#" method="POST" class="flex flex-col gap-4">
        <input
          type="text"
          name="nombre"
          placeholder="Tu nombre"
          class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary"
          required
        />

        <input
          type="email"
          name="email"
          placeholder="Tu correo"
          class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary"
          required
        />

        <textarea
          name="mensaje"
          rows="5"
          placeholder="Escribe tu mensaje..."
          class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary resize-none"
          required></textarea>

        <button
          type="submit"
          class="w-full bg-secondary text-white font-semibold py-3 rounded-xl hover:bg-primary/90 transition"
        >
          Enviar mensaje
        </button>
      </form>
    </div>
  </div>
  <img src="/images/waves2.svg" />
</section>
