<header class="w-full flex justify-center items-center fixed z-50
               bg-gradient-to-b from-primary/95 to-transparent backdrop-blur-xs rounded-b-xl">
  <div class="flex w-3/5 justify-between rounded-full text-white py-10 ">
    <div>
      <span class="text-2xl font-extrabold">justdarian</span>
    </div>
    <div class="flex gap-10 font-extrabold items-center text-xs">
      <a href="#" class="transition-transform duration-300 hover:scale-110">INICIO</a>
      <a href="#about-me" class="transition-transform duration-300 hover:scale-110">SOBRE MI</a>
      <a href="#portfolio" class="transition-transform duration-300 hover:scale-110">TRABAJOS</a>
      <a href="#contact" class="bg-secondary rounded-full p-2 px-4 transition-transform duration-300 hover:scale-120 animate-[wiggle_1s_ease-in-out_infinite]"> CONTACTAME ! </a>
    </div>
  </div>
  </header>
  