---
import SocialMedia from "./SocialMedia.astro";
---

<section
  id="index"
  class="flex flex-col justify-center items-center w-full p-4 h-dvh"
>
  <div class="flex flex-col gap-10">
    <div class="flex flex-col gap-2">
      <div class="flex gap-4 items-end">
        <div class="rounded-full">
          <video
            class="rounded-full"
            autoplay
            loop
            muted
            playsinline
            width="100"
          >
            <source src="images/avatar.mp4" type="video/mp4" />
          </video>
        </div>
        <span class="bg-white rounded-full p-2 px-4 text-xl font-extrabold">
          Hola, bienvenidos</span
        >
      </div>
      <div class="flex">
        <span class="bg-white rounded-full p-2 px-4 text-xl font-extrabold">
          <span id="typewriter"></span><span id="cursor">|</span>
        </span>
      </div>
    </div>
    <div class="flex justify-center">
      <a
        href="#contact"
        class="bg-secondary text-sm text-white font-bold rounded-full p-2 px-4 transition-transform duration-300 hover:scale-120 animate-[wiggle_1s_ease-in-out_infinite]"
      >
        CONTACTAME !
      </a>
    </div>

    <SocialMedia />
  </div>
  <div class="absolute bottom-10 animate-bounce">
    <a href="#services">
      <img src="/images/backhand-index-pointing-down.svg" />
    </a>
  </div>
</section>

<script>
  const texts = [
    "Soy Darian...",
    "Soy desarrollador...",
    "Yo quiero ayudarte!",
  ];

  const typewriter = document.getElementById("typewriter");
  const cursor = document.getElementById("cursor");

  let currentText = 0;
  let currentContent = "";
  let speed = 100;

  setInterval(() => {
    if (cursor)
      cursor.style.visibility =
        cursor.style.visibility === "visible" ? "hidden" : "visible";
  }, 500);

  function getCommonPrefix(a: string, b: string) {
    let i = 0;
    while (i < a.length && i < b.length && a[i] === b[i]) i++;
    return i;
  }

  function type() {
    const nextText = texts[currentText];
    const commonLength = getCommonPrefix(currentContent, nextText);

    if (currentContent.length > commonLength) {
      currentContent = currentContent.slice(0, currentContent.length - 1);

      if (typewriter) typewriter.textContent = currentContent;
      setTimeout(type, speed / 2);
    } else if (currentContent.length < nextText.length) {
      currentContent += nextText[currentContent.length];
      if (typewriter) typewriter.textContent = currentContent;
      setTimeout(type, speed);
    } else {
      setTimeout(() => {
        currentText = (currentText + 1) % texts.length;
        type();
      }, 2000);
    }
  }

  type();
</script>
