<section id="portfolio">
  <div class="text-white flex flex-col items-center justify-center gap-4">
    <h2 class="text-5xl font-extrabold">PORTFOLIO</h2>
    <span class="text-secondary text-2xl font-bold"> EN CONSTRUCCION </span>
    <div class="flex gap-10 flex-wrap items-center justify-center blur-md">
      <div
        class="w-[400px] h-[300px] rounded-xl bg-secondary transition-transform duration-300 hover:scale-110"
      >
      </div>
      <div
        class="w-[400px] h-[300px] rounded-xl bg-secondary transition-transform duration-300 hover:scale-110"
      >
      </div>
      <div
        class="w-[400px] h-[300px] rounded-xl bg-secondary transition-transform duration-300 hover:scale-110"
      >
      </div>
    </div>
  </div>
</section>
