<section
  id="services"
  class="flex flex-col justify-center items-center bg-secondary w-full"
>
  <img src="/images/waves.svg" />

  <div
    class="flex flex-col items-center justify-center gap-6 px-4 py-6 text-white"
  >
    <div class="flex flex-col sm:flex-row gap-4 items-center text-center">
      <h2
        data-aos="fade-up"
        class="text-3xl sm:text-4xl md:text-5xl font-extrabold"
      >
        EN QUE TE PUEDO AYUDAR?
      </h2>
      <img
        data-aos="fade-up"
        src="/images/rocket.svg"
        class="w-10 sm:w-12 md:w-16"
      />
    </div>

    <div
      class="flex flex-col lg:flex-row items-center justify-center flex-wrap gap-6"
    >
      <div class="flex flex-col w-full lg:w-[32rem]">
        <div class="flex flex-col justify-center items-center gap-6">
          <p
            data-aos="fade-up"
            class="text-xl sm:text-2xl md:text-3xl font-bold text-center"
          >
            Me especializo en crear sitios que
            <span
              class="bg-primary px-3 py-1 inline-block -rotate-2 rounded-lg transition-transform duration-300 hover:scale-105 shadow-gray-900 shadow-lg"
              >impactan.</span
            >
          </p>
          <p
            data-aos="fade-up"
            class="text-xl sm:text-2xl md:text-3xl font-bold text-center"
          >
            Tengas un emprendimiento, una startup o una empresa consolidada, te
            ayudo a construir una presencia online sólida, profesional y que
            genere <span
              class="bg-primary px-3 py-1 inline-block rotate-2 rounded-lg transition-transform duration-300 hover:scale-105 shadow-gray-900 shadow-lg"
            >
              resultados de verdad.
            </span>
          </p>
        </div>
      </div>

      <div
        class="flex flex-col justify-center items-center gap-4 text-base sm:text-lg font-extrabold text-center py-6"
      >
        <div class="flex flex-col sm:flex-row gap-4">
          <div
            data-aos="fade-up"
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-full sm:w-72 shadow-gray-900 shadow-lg"
          >
            <img
              src="/images/smiling-face-with-sunglasses.svg"
              class="w-10 sm:w-12"
            />
            <h2>Diseño web a tu estilo</h2>
            <p class="text-sm">
              Creo páginas con onda, originales y pensadas para que tu marca
              tenga identidad propia, atrape miradas y te haga destacar del
              montón.
            </p>
          </div>

          <div
            data-aos="fade-up"
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-full sm:w-72 shadow-gray-900 shadow-lg"
          >
            <img src="/images/bar-chart.svg" class="w-10 sm:w-12" />
            <h2>Desarrollo web que vuela</h2>
            <p class="text-sm">
              Hago sitios rápidos, seguros y listos para rendir al máximo. Todo
              pensado para que tus usuarios tengan una experiencia impecable.
            </p>
          </div>
        </div>

        <div class="flex flex-col sm:flex-row gap-4">
          <div
            data-aos="fade-up"
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-full sm:w-72 shadow-gray-900 shadow-lg"
          >
            <img
              src="/images/globe-showing-americas.svg"
              class="w-10 sm:w-12"
            />
            <h2>SEO que te pone en el mapa</h2>
            <p class="text-sm">
              Potencio tu web para que aparezca arriba en los buscadores. Más
              visibilidad, más visitas y clientes que realmente buscan lo que
              ofrecés.
            </p>
          </div>

          <div
            data-aos="fade-up"
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-full sm:w-72 shadow-gray-900 shadow-lg"
          >
            <img src="/images/selfie.svg" class="w-10 sm:w-12" />
            <h2>Diseño web que se adapta a todo</h2>
            <p class="text-sm">
              Hago que tu página se vea increíble y funcione perfecto en
              cualquier pantalla. Así tus usuarios tienen siempre la mejor
              experiencia, sin importar desde dónde entren.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/images/waves2.svg" />
</section>
