<section
  id="services"
  class="flex flex-col justify-center items-center bg-secondary w-full"
>
  <img src="/images/waves.svg" />

  <div class="flex flex-col items-center justify-center gap-6 px-4 py-6">
    <div
      class="flex flex-col sm:flex-row gap-4 text-white items-center text-center"
    >
      <h2
        data-aos="fade-up"
        class="text-3xl sm:text-4xl md:text-5xl font-extrabold"
      >
        EN QUE TE PUEDO AYUDAR?
      </h2>
      <img
        data-aos="fade-up"
        src="/images/rocket.svg"
        class="w-10 sm:w-12 md:w-16"
      />
    </div>

    <div
      class="flex flex-col lg:flex-row items-center justify-center flex-wrap gap-6"
    >
      <!-- COLUMN 1 -->
      <div class="flex flex-col w-full lg:w-[32rem]">
        <div class="flex flex-col justify-center items-center text-white gap-6">
          <p
            data-aos="fade-up"
            class="text-xl sm:text-2xl md:text-3xl font-bold text-center"
          >
            Me especializo en desarrollar sitios que generan
            <span
              class="bg-primary px-3 py-1 inline-block -rotate-3 rounded-lg transition-transform duration-300 hover:scale-105 shadow-gray-900 shadow-lg"
              >resultados reales</span
            >
          </p>
          <p
            data-aos="fade-up"
            class="text-xl sm:text-2xl md:text-3xl font-bold text-center"
          >
            Ya seas emprendedor, startup o empresa consolidada, puedo ayudarte a
            construir una presencia online
            <span
              class="bg-primary px-3 py-1 inline-block rotate-3 rounded-lg transition-transform duration-300 hover:scale-105 shadow-gray-900 shadow-lg"
              >solida y efectiva</span
            >
          </p>
        </div>
      </div>

      <!-- COLUMN 2 -->
      <div
        class="flex flex-col justify-center items-center gap-4 text-base sm:text-lg font-extrabold text-white text-center py-6"
      >
        <div class="flex flex-col sm:flex-row gap-4">
          <div
            data-aos="fade-up"
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-full sm:w-64 shadow-gray-900 shadow-lg"
          >
            <img
              src="/images/smiling-face-with-sunglasses.svg"
              class="w-10 sm:w-12"
            />
            <p>
              Desarrollo web moderno, responsive y con estilo propio que resalta
              tu marca.
            </p>
          </div>

          <div
            data-aos="fade-up"
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-full sm:w-64 shadow-gray-900 shadow-lg"
          >
            <img src="/images/bar-chart.svg" class="w-10 sm:w-12" />
            <p>Optimización SEO y alto rendimiento para crecer más rápido.</p>
          </div>
        </div>

        <div class="flex flex-col sm:flex-row gap-4">
          <div
            data-aos="fade-up"
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-full sm:w-64 shadow-gray-900 shadow-lg"
          >
            <img src="/images/ok-hand.svg" class="w-10 sm:w-12" />
            <p>Tiendas online y soluciones eCommerce para tu negocio.</p>
          </div>

          <div
            data-aos="fade-up"
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-full sm:w-64 shadow-gray-900 shadow-lg"
          >
            <img src="/images/thought-balloon.svg" class="w-10 sm:w-12" />
            <p>
              Desarrollo personalizado para convertir tus ideas en realidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/images/waves2.svg" />
</section>
