<section
  id="services"
  class="flex flex-col justify-center items-center bg-secondary"
>
  <img src="/public/images/waves.svg" />
  <div class="flex flex-col items-center gap-6">
    <div class="flex gap-4 text-white">
      <h2 class="text-5xl font-extrabold">EN QUE TE PUEDO AYUDAR?</h2>
      <img src="/public/images/rocket.svg" />
    </div>

    <div class="flex items-center justify-center flex-wrap gap-6">
      <!-- COLUMN 1 -->
      <div class="flex flex-col w-xl">
        <div class="flex flex-col justify-center items-start text-white gap-6">
          <p class="text-3xl font-extrabold text-center">
            Me especializo en desarrollar sitios que generan <span
              class="bg-primary px-3 py-1 inline-block -rotate-3 rounded-lg transition-transform duration-300 hover:scale-105 shadow-gray-900 shadow-lg"
              >resultados reales</span
            >
          </p>
          <p class="text-3xl font-extrabold text-center">
            Ya seas emprendedor, startup o empresa consolidada, puedo ayudarte a
            construir una presencia online <span
              class="bg-primary px-3 py-1 inline-block -rotate-3 rounded-lg transition-transform duration-300 hover:scale-105 shadow-gray-900 shadow-lg"
              >solida y efectiva</span
            >
          </p>
        </div>
      </div>

      <!-- COLUMN 2 -->
      <div
        class="flex flex-col justify-center items-center gap-4 text-lg font-extrabold text-white text-center py-8"
      >
        <div class="flex gap-4">
          <div
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-xs shadow-gray-900 shadow-lg"
          >
            <img src="/public/images/smiling-face-with-sunglasses.svg" />
            <p>
              Desarrollo web moderno, responsive y con estilo propio que resalta
              tu marca.
            </p>
          </div>

          <div
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-xs shadow-gray-900 shadow-lg"
          >
            <img src="/public/images/bar-chart.svg" />
            <p>Optimización SEO y alto rendimiento para crecer más rápido.</p>
          </div>
        </div>
        <div class="flex gap-4">
          <div
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-xs shadow-gray-900 shadow-lg"
          >
            <img src="/public/images/ok-hand.svg" />
            <p>Tiendas online y soluciones eCommerce para tu negocio.</p>
          </div>

          <div
            class="flex items-center flex-col gap-2 bg-primary p-4 rounded-2xl w-xs shadow-gray-900 shadow-lg"
          >
            <img src="/public/images/thought-balloon.svg" />
            <p>
              Desarrollo personalizado para convertir tus ideas en realidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/public/images/waves2.svg" />
</section>
