<div class="flex flex-col gap-4 justify-center items-center">
  <div class="flex justify-center items-center gap-4">
    <a
      href="https://github.com/darianesquivel"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/icons/github.svg"
        alt="GitHub"
        class="size-9 transition-transform duration-300 hover:scale-110"
      />
    </a>
    <a
      href="https://mail.google.com/mail/?view=cm&fs=1&to=info@justdarian.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/icons/gmail.svg"
        alt="Email"
        class="size-9 transition-transform duration-300 hover:scale-110"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/darianesquivel/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/icons/linkedin.svg"
        alt="LinkedIn"
        class="size-9 transition-transform duration-300 hover:scale-110"
      />
    </a>
    <a
      href="https://wa.me/5491112345678"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/icons/whatsapp.svg"
        alt="WhatsApp"
        class="size-9 transition-transform duration-300 hover:scale-110"
      />
    </a>
  </div>
  <a
    href="https://mail.google.com/mail/?view=cm&fs=1&to=info@justdarian.com"
    target="_blank"
    rel="noopener noreferrer"
  >
    <p class="text-lg text-white font-semibold tracking-wider">
      info@justdarian.com
    </p>
  </a>
</div>
