<div class="flex justify-center items-center gap-4">
    <a href="https://github.com/darianesquivel" target="_blank">
      <img src="/public/icons/github.svg" class="size-9 transition-transform duration-300 hover:scale-110" />
    </a>
    <a href="mailto:darianesquivelf@gmail.com" target="_blank">
      <img src="/public/icons/gmail.svg" class="size-9 transition-transform duration-300 hover:scale-110"/>
    </a>
    <a href="https://www.linkedin.com/in/darianesquivel/" target="_blank">
      <img src="/public/icons/linkedin.svg" class="size-9 transition-transform duration-300 hover:scale-110"/>
    </a>
    <a href="https://wa.me/5491112345678">
      <img src="/public/icons/whatsapp.svg" class="size-9 transition-transform duration-300 hover:scale-110"/>
    </a>
  </div>
  